.git
.venv
.pnpm-store
.ruff_cache
**/node_modules
**/__pycache__
**/*.egg-info
apps/web/dist
laz_verb_conjugator
lazverbcon.sql
lazverbcon.dump
artifacts
tests/*
!tests/fixtures/
tests/fixtures/*
!tests/fixtures/reference.json
docs
migration
.env
.env.*
.DS_Store
**/*.tsbuildinfo
